<div class="circleButtons container">
  <div class="row">
    <div class="col-sm">
      <a href="/connect">
        <div class="iconWrap">
          <%= fa_icon('plug') %>
        </div>
        <span class='circleButtons'>Connect</span>
      </a>
    </div>
    <div class="col-sm">
      <a href="/download">
        <div class="iconWrap">
          <%= fa_icon('download') %>
        </div>
        <span class='circleButtons'>Download</span>
      </a>
    </div>
    <div class="col-sm">
      <a href="/learn_more">
        <div class="iconWrap">
          <%= fa_icon('university') %>
        </div>
        <span class='circleButtons'>Learn</span>
      </a>
    </div>
    <div class="col-sm">
      <a href="/shared_data">
        <div class="iconWrap">
          <%= fa_icon('briefcase') %>
        </div>
        <span class='circleButtons'>Shared Data</span>
      </a>
    </div>
  </div>
</div>