<!-- Footer -->
<footer class="text-center footer">
  <!-- Links -->
  <div class="footerBar p-2">
    <div class="row justify-content-md-center">
      <div class="col-md-2">
        <a href="https://www.ctti-clinicaltrials.org/">CTTI</a>
      </div>
      <div class="col-md-4">
        <a href="https://ctti-clinicaltrials.org/our-work/quality/state-of-clinical-trials">STATE OF CLINICAL TRIALS PROJECT</a>
      </div>
      <div class="col-md-3">
        <a href="/points_to_consider">GUIDE FOR RESEARCHERS</a>
      </div>
      <div class="col-md-2">
      <a href="/contactus">Contact Us</a>
      </div>
    </div>
  </div>

  <!-- Links -->

  <!-- Disclaimer -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>
      <b>DISCLAIMER</b>: <i>CTTI encourages the use of all materials listed on this site in the pursuit of improving the clinical trials enterprise. 
      Our recommendations, tools, meeting summaries, and more are available to the public for free. We do ask that you acknowledge the source whenever using or referencing CTTI materials. 
      A suggested citation for AACT is below, using both the full name and abbreviation for both AACT and CTTI, along with the AACT website address.  
      <br><br>
      Aggregate Analysis of ClinicalTrials.gov (AACT) Database. Clinical Trials Transformation Initiative (CTTI). Available at: https://aact.ctti-clinicaltrials.org/ (Accessed: Date and/or frequency accessed).
      <br><br>
      For more information about citing other CTTI work, read our Citation Policy <a href='https://www.ctti-clinicaltrials.org/briefing-room/citation-policy' target='_blank' style='text-transform: inherit; padding: 0px 0px;'>here.</a></i>
    </p>
  </div>
  <!-- Disclaimer -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>
      Copyright © CTTI 2016.
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
