<!-- Footer -->
<footer class="text-center">
  <!-- Links -->
  <div class="footerBar comtainer ">
    <ul class="list-unstyled row d-flex justify-content-around">
      <li class='col-md'>
        <a href="https://www.ctti-clinicaltrials.org/">CTTI</a>
      </li>
      <li class='col-lg'>
        <a href="https://ctti-clinicaltrials.org/our-work/quality/state-of-clinical-trials">STATE OF CLINICAL TRIALS PROJECT</a>
      </li>
      <li class='col-lg'>
        <a href="/points_to_consider">GUIDE FOR RESEARCHERS</a>
      </li>
      <li class='col-md'>
        <a href="https://www.ctti-clinicaltrials.org/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
  <!-- Links -->

  <!-- Disclaimer -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>
      <b>DISCLAIMER</b>: <i>CTTI encourages the use of all materials listed on this site in the pursuit of improving the clinical trials enterprise. Our recommendations, tools, meeting summaries, and more are available to the public for free. We do ask that you acknowledge the source whenever using or referencing CTTI materials. Read our Citation Policy <a href='https://www.ctti-clinicaltrials.org/briefing-room/citation-policy' target='_blank' style='text-transform: inherit; padding: 0px 0px;'>here.</a></i>
    </p>
  </div>
  <!-- Disclaimer -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>
      Copyright © CTTI 2016.
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

 