<nav class="navbar navbar-expand-lg">
  <div class="navbar-header">
    <%= link_to("https://www.ctti-clinicaltrials.org/", class: "navbar-brand") do %>
      <%= image_tag("new_ctti_logo.svg", class:"logo",  height: '100', width: '200') %>
    <% end %>
  </div>
  <button class="navbar-toggler navbar-dark bg-aact" type="button" data-bs-toggle="collapse" data-bs-target="#topNavToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="topNavToggler">
    <ul class="navbar-nav d-flex flex-row justify-content-evenly w-100">
      <li class="nav-item mx-2">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item mx-2">
        <a href="/connect" class="nav-link">Connect</a>
      </li>
      <li class="nav-item mx-2">
        <a href="/downloads" class="nav-link">Download</a>
      </li>
      <li class="nav-item mx-2">
        <a href="/learn_more" class="nav-link">Learn</a>
      </li>
      <li class="nav-item mx-2">
        <a href="/shared_data" class="nav-link">Shared Data</a>
      </li>
      <li class="nav-item mx-2">
        <a href="/contactus" class="nav-link">Contact Us</a>
      </li>
      <li class="nav-item mx-2">
        <%= render 'includes/dropdown' %>
      </li>
    </ul>
  </div>

</nav>
<% if PublicAnnouncement.count > 0 %>
  <section class='basicHero'>
    <div class='copy announcement'>
      <h1 class='announcement'>Announcement</h1>
      <div class='wrap'>
        <ul class='announcement'>
          <% PublicAnnouncement.all.each do |announcement| %>
            <li><%= announcement.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>