@import "../old/base/variables";
@import "../old/base/library";

.bg-aact{
  background-color: #246bb0;
}

.error {
  color: #800000;
  font-weight: bold;
}
div.showcaseCenterImage {
  text-align: center;
  background-color: #505050;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
}

div.copy {
  padding: 60px 0px 10px 40px;
}

section.homeHero {
  display: block;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  position: relative;
  text-align: center;
  padding-bottom: 20px;

  h1 {
    padding: 0px;
    margin: 0px;

    @include MQ(M) {
      margin-bottom: 2rem;
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  div.copy {
    display: block;
    margin: 0 auto;
    padding: 4rem 3rem;
  }

  a.button {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  ul {
    list-style: none;
  }
}

div.heroPanelRow {
  background-color: $white;
  @include display-flex;
  padding: 0px 4px 4px 4px;

  span.type {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid $primary;
    color: $primary;
    padding-bottom: 1rem;
    font-weight: bold;
  }

  span.title {
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-size: 1.2rem;
  }

  i.fa {
    font-size: 15rem;
    position: absolute;
    bottom: -30px;
    right: -20px;
    opacity: .2;
  }

  a {
    padding: 7rem 1rem;
    @include box-shadow(3px 3px 11px $light-grey);
    text-align: left;
    position: relative;
    text-transform: none;
    font-weight: normal;
    font-size: 1.3rem;
    overflow: hidden;

    &.info_shade_dark{
      background-color: $secondary;
      border-color: $secondary;

      &:hover {
        background-color: darken($secondary, 5);
        border-color: darken($secondary, 5);
      }
    }

    &.info_shade_light{
      span.type {
        border-bottom: 2px solid $secondary;
        color: $secondary;
      }
    }

    &.big {
      width: 60%;
      background-color: $secondary;
      border-color: $secondary;

      &:hover {
        background-color: darken($secondary, 5);
        border-color: darken($secondary, 5);
      }
    }

    &.small {
      width: 40%;

      span.type {
        border-bottom: 2px solid $secondary;
        color: $secondary;
      }
    }

    &.light {
      background-color: rgb(249,249,249);
      border-color: rgb(249,249,249);
      color: $grey;

      &:hover {
        background-color: darken(rgb(249,249,249), 10);
        border-color: darken(rgb(249,249,249), 10);
      }

      span.type {
        border-bottom: 2px solid darken(rgb(249,249,249), 25);
        color: darken(rgb(249,249,249), 25);
      }
    }
  }
}

.adjustments {
  margin-bottom: 1rem !important;
}

.active {
  color: #224989 !important;
  background-color: #fff !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

.nav-link {
  color: $secondary;
}

.nav-link:hover {
  color: $tertiary !important;
}