@import "../base/variables";
@import "../base/library";

span.circleButtons {
  font-family: Roboto;
  font-size: 1.2rem;
  color: #008aa1;
}

div.circleButtons {
  margin-bottom: 4rem;
  // @include display-flex;
  @include align-items(center);
  @include justify-content(center);

  a {
    margin: 0px 40px;
    @include display-flex;
    @include align-items(center);
    @include flex-direction(column);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
  }

  i {
    display: block;
    color: $white;
    position: absolute;
    @include center(xy);
    font-size: 2.2rem;
  }

  div.iconWrap {
    background-color: $primary;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
  }
}

footer {
  background-color: $grey;
  color: $light-grey;
  z-index: 1000;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 0px;

  nav {
    display: block;
    @include display-flex;
    @include justify-content(space-between);
    padding: 10px;
  }

  a {
    padding: 0px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    color: $white;
  }

  nav.social {
    width: 33.33%;
    padding: 10px 30px;
  }


  div.contact {
    @include display-flex;
    padding: 2rem 0px;
    border-bottom: 1px solid $light-grey;
  }

  nav.footerBar {
      padding: 2rem 4rem;
      border-bottom: 1px solid $light-grey;
      margin-bottom: 2rem;
  }

 .footerBar {
    border-bottom: 1px solid $light-grey;
    padding: 10px;
}

  div.disclaimer {
    padding-bottom: 2rem;
    padding-left: 2rem;
  }

  div.copyright {
    text-align: center;
    padding-bottom: 2rem;
  }
}
