@import "../base/variables";
@import "../base/library";

.centerImage {
  box-shadow: 10px 10px 10px #888888;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
}

.innerQuotedText {
  //font-family: verdana;
  //font-size: 12px;
  font-style: italic;
  //color: #0000A0;
}
.quotedText {
  box-shadow: 10px 10px 10px #888888;
  //font-family: verdana;
  //font-size: 12px;
  font-style: italic;
  //color: #0000A0;
  padding: 14px;
  margin: 20px;
  margin-bottom: 40px;
}
