 <h3>AACT 4.5.0 <i>(January 8, 2021)</i></h3>

 <h5>Built alternate code that is compatible with the ClinicalTrials.gov Beta API</h5>

 <p>ClinicalTrials.gov has a beta API they will be changing over to in the future. 
 We built alternate code to process information the way the that API delivers it. 
 That API also provides additional information that we are capturing as well.</p>
 <p>The code that uses the regular API is still in use. 
 The regular and the beta code run in parellel in AACT but store data in different databases.</p>