 <h3>AACT 4.2.0 <i>(April 16, 2019)</i></h3>

 <h5>Resolve Security Issues Identified by GitHub</h5>
  <p>To address security vulnerabilities detected by github, we upgraded the railties gem.</p>

 <h5>Add Project 'Study Characteristics'</h5>
 <p></p>

