 <h3>AACT 4.3.0 <i>(July 2, 2019)</i></h3>

 <h5>Upgrade to CentOS Linux release 7.6.1810 (Core)</h5>

 <h5>Facilitate Replication of the AACT Application</h5>
 <p>To make it easier for others to replicate the AACT component that creates a relational database of ClinicalTrials.gov data, we've refactored code, simplified environment variables & modified the README file in the <a href='https://github.com/ctti-clinicaltrials/aact' target='_blank'>AACT git repository</a>.
 <h5>Fix Processs that Collects User Activity Statisitcs</h5>
 <p>When we upgraded to PostgreSQL 11.1, the format of the database log files changed slightly. As a result, the process that parses the log files failed to gather/summarize information. This has been fixed.</p>

 <h5>Block Nuisance IP Addresses</h5>
 <p>Someone setup unproductive bots that were consuming AACT database resources and dramatically slowing response time for others. We've implemented a feature that allows us to block IP addresses when we detect this type of activity.</p>

 <h5>Increase Maximum Database Connection Count</h5>
 <p>We increased the maximum number of connections allowed to the live database due to recent, significant increase in the number of people accessing it. We continue to investigate other ways to support this open database model as activity increases.</p>

 <h5>Rename AACT Projects to AACT Shared Data</h5>
 <p>We have renamed the AACT Projects feature to better describe the type of information it provides. We modified some navigation flows on the Data Share page to hopefully make it less confusing.</p>

 <h5>Use pg_dump v11.1 to Create Static Copies of Database</h5>
 <p>Since April, 2019 when we upgraded to PostgreSQL 11.1, the process that creates a static copy of the database has been unreliable. The static database copy serves two purposes: 1) it's used to refresh the live version of the AACT database that is available to the public and 2) it is made available for download so that others may use it to create their own personal copy of the database. The pg_restore comand used to refresh the public database has frequently failed since the 11.1 upgrade. Until now, we've been using the 9.6 version of the pg_dump command to create a copy of the database each night. To solve the problem with the nightly restore to the public database, we started using the 11.1 version of pg_dump to create the static database copy.</p>
