 <h3>AACT 4.2.0 <i>(April 14, 2019)</i></h3>

 <h5>Added 'Study Characteristics' Project</h5>
 <p>AACT now includes the AACT-based research project: <a href='https://jamanetwork.com/journals/jama/fullarticle/1150093' target='_blank'>Characteristics of Clinical Trials Registered in ClinicalTrials.gov, 2007-2010.</a> Datasets for this project are presented as tables in the <i>proj_tag_study_characteristics</i> schema. The <i>tagged_terms</i> table lists 2010 MeSH & free text terms that were determined to be associated with one (or more) of three clinical specialties: Mental Health, Oncology & Cardiovascular. (Each term is tagged with each related clinical specialty.) The new schema also includes a table of analyzed studies for each of the clinical specialties: <i>mental_health_studies, oncology_studies & cardiovascular_studies.</i> More information & downloadable datasets can be found on the <a href='/projects' target='_blank'>Projects</a> page.</p>

 <h5>Added Individual Project Pages to Provide More Details</h5>
 <p>To help us present more detailed information about each project, we've added a per-project page that may include the following information:</p>
 <div>
   <ul class='regularDisplay'>
     <li>Project Name</li>
     <li>Investigators</li>
     <li>Brief Summary</li>
     <li>URL (external link to more info about the project)</li>
     <li>Detailed Description</li>
     <li>Study Selection Criteria</li>
     <li>Start Date</li>
     <li>FAQs</li>
     <li>Publications</li>
     <li>Datasets</li>
     <li>Additional Attachments</li>
     <li>AACT Version</li>
     <li>Schema Diagram</li>
     <li>Contact Info</li>
    </ul>
  </div>

  <p>Click <i><a href='/projects/proj_tag_study_characteristics' target='_blank'>here</a></i> to see the individual page for the newly added project: <a href='https://jamanetwork.com/journals/jama/fullarticle/1150093' target='_blank'>Characteristics of Clinical Trials Registered in ClinicalTrials.gov, 2007-2010.</a></p>

 <h5>Upgraded to PostgreSQL v11.1</h5>
 <p>The PostgreSQL public database was upgraded from version 9.6.6 to 11.1.</p>

 <h5>Added Database Constraints</h5>
 <p>To make the database more robust and easier to understand, foreign key constraints have been added for all table relationships and unique constraints have been added for the NCT ID in tables that should only have one row per study:</p>
 <div>
   <ul class='regularDisplay'>
     <li>studies</li>
     <li>brief_summaries</li>
     <li>designs</li>
     <li>detailed_descriptions</li>
     <li>eligibilities</li>
     <li>participant_flows</li>
     <li>calculated_values</li>
    </ul>
  </div>

 <h5>Upgraded the Tool We Use to Generate Schema Diagrams: pgModeler</h5>
 <p>We use <a href='https://pgmodeler.io/' target='_blank'>pgModeler</a> to produce the schema diagrams that appear on the AACT website. Because the previous version didn't work with PostgreSQL 11.1, we upgraded this tool to version 0.9.2-alpha1 & refreshed the schema diagrams. As a result, schema diagrams (such as the one for the <a href=<%= @schema_diagram %> target='_blank'>main <i>ctgov</i> schema</a>) now display additional information about primary keys, indexes, constrants, etc.</p>

 <h5>Loaded 2019 MeSH Thesaurus</h5>
 <p>The <i>mesh_terms</i> table now contains the 2019 set of MeSH terms. (We used the 11/1/18 version of mtrees2019.bin retrieved from NLM's FTP server: <a href='ftp://nlmpubs.nlm.nih.gov/online/mesh/MESH_FILES/meshtrees/' target='_blank'>ftp://nlmpubs.nlm.nih.gov/online/mesh/MESH_FILES/meshtrees/</a>) The 2018 MeSH terms are now available in the mesh_archive schema (table name: <i>Y2018_mesh_terms</i>).</p>

 <h5>Removed Leading Space in Calculated_Values.minimum_age_unit & maximum_age_unit Columns</h5>
 <p>The values in <i>calculated_values.minimum_age_unit</i> & <i>maximum_age_unit</i> all had a leading space, so 'Years' was presented as '_Years' & 'Months' as '_Months'. This has been fixed so that these values will no longer include leading spaces.</p>

