 <h3>AACT 4.2.1 <i>(April 17, 2019)</i></h3>

 <h5>Upgrade to Ruby 2.4.5</h5>
 <p>The 3 AACT applications (AACT, AACT-Admin & AACT-Proj) have been upgraded to ruby v2.4.5.</p>

 <h5>Improve AACT Installation Documentation</h5>
 <p>For technical people who would like to create their own instance of the AACT core application (the part that pulls data from ClinicalTrials.gov and populates a relational database), we have updated documentation in the ReadMe file that appears on the AACT main page in github. This documentation describes how to clone <a href='https://github.com/ctti-clinicaltrials/aact' target='_blank'>AACT from github</a> and create a local, working copy. The documentation has been improved, but it is a work-in-progress. We will add more information in the next release of AACT.</p>

