 <h3>AACT 4.2.2 <i>(May 27, 2019)</i></h3>

 <h5>Upgrade jsgrid to 1.5.3</h5>
 <p>The table that lists & defines all AACT database tables/columns suddenly stopped appearing on the <a href='/data_dictionary' target='_blank'>Data Dictionary</a> page. We upgraded the jQuery plugin <a href='https://libraries.io/npm/jsgrid' target='_blank'>jsgrid</a> so this data definition table would again appear on the page.</p>

