 <h3>AACT 4.6.0 <i>(March 20, 2021)</i></h3>

 <h5>Upgrade to Rails 6</h5>

 <p>We upgraded Rails to version 6 and updated all dependencies.</p>

 <p>The source code was also updated to reflect this and security was strengthened.</p>
