 <h3>AACT 4.1.1 <i>(March 16, 2019)</i></h3>

 <h5>Resolve Security Issues Identified by GitHub</h5>
  <p>To address security vulnerabilities detected by github, we upgraded the sprockets, loofah & rubyzip gems. Several other unused gems were removed.</p>

 <h5>Add Provided_Documents table</h5>
 <p>On February 6, 2019, the National Library of Medicine (NLM) started making information about the documents provided with the study available through their API.  AACT now includes this information in a table named <i>provided_documents</i>. The NLM briefly describes this information as follows:</p>
  <p class='quotedText'>"Data providers can submit documents including the Study Protocol, Informed Consent Forn (ICF), and Statistical Analysis Plan (SAP), possibly all in the same pdf document.  These documents are archived, made available through the ClinicalTrials.gov site, and are now described in the Public XML."</p>

 <h5>Provide More Detailed Description about CDEK Standard Orgs Project</i></h5>
 <p>The CDEK Standard Orgs project documentation that appears on the <a href='/projects' target='_blank'>Projects</a> page did not note that the set of organizations included in the AACT database are those identified as the sponsor, overall official or responsible party of interventional drug trials. We have modified this documentation to better describe this project.</p>

 <h5>Revise Data Dictionary Documentation</h5>
 <h6>Describe Different Schemas</h6>
 <p>We modified summary information on the <a href='/data_dictionary' target='_blank'>Data Dictionary</a> page to better describe the schemas recently added to the AACT database.</p>

 <h6>Document Set of 'all_' Views</h6>
 <p>We added a table that defines a set of views in the AACT database that had previously been undocumented, all of which have the prefix 'all_'. Information about these views is now available on the <a href='/data_dictionary#allViewDictionary' target='_blank'>Data Defintions</a> page. These 'all_ views' provide concatenated value strings for various one-to-many study relationships. The values are delimited with a bar character (|). For example, the study NCT00000146 has 3 rows in the browse_conditions table, so one row for this study is in the all_browse_conditions view that provides this value: 'Multiple Sclerosis|Neuritis|Optic Neuritis'. These views are useful for those who need to export a spreadsheet of studies where each row represents one study, and the row includes one-to-many data values. More information about these views can be found near the bottom of the <a href='/data_dictionary#allViewDictionary' target='_blank'>Data Defintions</a> page.</p>

 <p>To be consistent, each of these 'all_' views now has a column called 'names' which presents the concatentated list of the values from the table represented by that view. In short - the name of the column containing this concatenated list of values in now 'names' in every one of these views. Previously, some of these views used other names for these columns - for example, the <i>all_conditions</i> view previously used the column name 'conditions' instead of 'names'. If people referenced these undocumented views in the past, they need to be aware that some of these column names have changed.</p>

 <h5>Add Enumeration for studies.plan_to_share_ipd</h5>
 <p>We'd like to see what percent of studies plan to share individual patient data (IPD), and how it might change over time, so we added the studies.plan_to_share_ipd attribute to our 'enumerations list'. After each nightly update, we recalculate the ratio/distribution of values found in each attribute in the 'enumerations list' and display this info in the Enumerations column of the <a href='/data_dictionary' target='_blank'>Data Dictionary</a> table. (You need to scroll to the right to see this column.) Twice a month we save the enumerations data so we can monitor how the values in these attributes might change over time. For more information about the Enumerations feature, see <a href='#302enumerations'>v3.0.2 release notes.</a></p>

 <h5>User Table Restore Instructions: Include Note to Escape Single Quotes</h5>
 <p>Some database users have a single quote in their last name. When restoring the Users table, the restore function will become confused and give up unless these single quotes are escaped. We have updated the instructions to remind the administrator to escape all single quotes that appear in user names before running the restore command.</p>
