 <h3>AACT 4.1.0 <i>(December 24, 2018)</i></h3>

 <h5>Implement New Feature: <i>AACT Projects</i></h5>
 <p>The AACT database now provides data collected & developed in the execution of previous AACT-based research. By providing this information within the AACT database, users can directly query datasets (in the context of current ClinicalTrials.gov data) that support published conclusions or provide utility while investigating clinical trials.</p>

 <p>Database schemas are used to differentiate project-related data from ClinicalTrials.gov data. Data from ClinicalTrial.gov remain available in the ctgov schema and each project has a database schema in which the datasets for that project are available. All project schemas are prefixed with 'proj_'.  Users of the live AACT database have immediate access to this information. Refer to the view named :w</p>

 <p>Datasets from the following three AACT-based research projects have been made available in this release:<p>
  <ul class='regularText'>
    <li>
      <p>
      <b>proj_results_reporting: </b><a href="https://scholars.duke.edu/display/pub1075763" target='_blank'>Anderson ML, Chiswell K, Peterson ED, Tasneem A, Topping J, Califf RM. Compliance with results reporting at ClinicalTrials. gov. New England Journal of Medicine. 2015 Mar 12;372(11):1031-9.</a>
      </p>
    </li>
    <li>
      <p><b>proj_cdek_standard_orgs: </b><a href="http://dx.doi.org/10.1101/474189" target='_blank'>Griesenauer R, Schillebeeck C, Kinch MS. CDEK: Clinical Drug Experience Knowledgebase. bioRxiv  The Preprint Server for Biology. 2018 November 19</a>
      </p>
    </li>
    <li>
      <p>
      <b>proj_tag_nephrology: </b><a href="https://www.ncbi.nlm.nih.gov/pubmed/24315119" target='_blank'>Inrig JK, Califf RM, Tasneem A, Vegunta RK, Molina C, Stanifer JW, Chiswell K, Patel UD. The landscape of clinical trials in nephrology: a systematic review of Clinicaltrials. gov. American Journal of Kidney Diseases. 2014 May 1;63(5):771-80.</a>
      </p>
    </li>
  </ul>
  <p>Projects are described on the AACT website <a href='/projects' target='_blank'>Projects Page</a>.</p>

  <p>This feature will continue to be developed. We welcome your feedback. Please <a href="mailto:ctti-aact@duke.edu?subject=AACT Projects Question/Suggestion">email us</a> with questions and suggestions.</p>

  <p>This feature has been implemented as a separate Ruby on Rails application. AACT is now comprised of 3 applications: 1) AACT Core, 2) AACT Admin & 3) AACT Projects.  All code for these three components is publicly available in <a href='https://github.com/ctti-clinicaltrials/aact-proj' target='_blank'>github</a>. Note: Implementing this feature required some changes to the way ClinicalTrials.gov data is loaded into AACT. Details about these changes are available upon <a href="mailto:ctti-aact@duke.edu?subject=AACT: Request info about 4.1.0 load procedure">request</a>.</p>

  <h5>Fix Formatting of Data Dictionary Pagination</h5>
  <p>The pagination numbers at the bottom of the Data Dictionary table were scrunched together. This has been fixed.</p>

  <h5>Improve Page Displaying List of Users</h5>
  <p>For AACT Admins Only: The AACT website page which lists information about all users has been enhanced; the information is now sortable & the table includes pagination. The option to download user information as a CSV or Excel file is selected, the content of the download only contains information that is of potential interest; attributes containing encrypted values no longer appear in the file. (This page is only accessible to AACT administrators.) </p>


