 <h3>AACT 4.7.1 <i>(September 18, 2021)</i></h3>

 <p>Renamed ctgov_beta_group_code to ctgov_group_code</p>
 <p>Added mesh_type column for browse_conditions and browse_interventions tables</p>
 <p>Edited code to save more MeSH types to the database</p>
 <p>changed factory_girl to the factory_bot gem</p>
 <p>added Airbrake for tracking errors</p>
 <p>Added database explanation and visualization to the README</p>
 <p>Edited how the downcase mesh terms are created so they would be updated regularly</p>
 <p>Edited the way the loads are run to better switch between schemas</p>
 <p>Added environmental variables for the ctgov_beta schema and database</p>