 <h3>AACT 4.0.0 <i>(July 31, 2018)</i></h3>

  <h5>Divide AACT into Two Applications</h5>
  <p>AACT has been divided into two applications: one solely dedicated to populating the AACT relational database with data from ClinicalTrials.gov and the other to manage all other supporting functionality such as maintaining user accounts and hosting this website. Both applications use Ruby on Rails and PostgeSQL, and are publicly available on github:</p>

  <p>
  <ul class='regularDisplay'>
    <li><a href='https://github.com/ctti-clinicaltrials/aact' target='_blank'>Core AACT</a></li>
    <li><a href='https://github.com/ctti-clinicaltrials/aact-admin' target='_blank'>AACT Administration</a></li>
  </ul>
  </p>

  <p>Users will not be directly affected by this change; it simply makes it easier to support the system and positions AACT to be more easily replicated by other organizations/people.</p>

  <h5>Ensure that 'Removed Users' are Completely Removed</h5>
  <p>To comply with <a href='https://gdpr-info.eu/art-17-gdpr/' target='_blank'>Article 17 of the General Data Protection Regulation</a> (aka 'The Right to be Forgotten'), we have verified that AACT does not save any information about a user who has chosen to be removed from AACT.</p>

  <h5>Correct Data Dictionary</h5>
  <p>Tables added to AACT in version 3.1.2 (Documents & Pending_Results) are now defined in the Table Definition table on the Data Dictionary page of the AACT website.</p>

  <h5>Prevent Mixed-Case Database Usernames</h5>
  <p>PostgreSQL recognizes mixed-case objects and requires double quotes when managing such objects.  To avoid confusion and complexity, we now prevent the creation of mixed-case database usernames.</p>

  <h5>Add Technical Documentation</h5>
  <p>Added a page for <a target='_blank' href='/technical_documentation'>technical documentation</a>. (Accessible to AACT administrators only)</p>

  <h5>Add Instructions for Installing PostgreSQL on Windows 10</h5>
  <p>Added a page of <a target='_blank' href='/install_postgres'>instructions</a> to stand up an instance of AACT on a Windows 10 machine.</p>

