 <h3>AACT 4.1.0 <i>(December 24, 2018)</i></h3>

  <h5>Implement 'AACT Projects' Feature</h5>
  <p>The AACT database now includes a component that provides data that was developed by other investigators while conducting AACT-based research. By providing this information within the AACT database, users can now directly query datasets that support published conclusions.


  component that incorporates datasets and other useful data artifacts developed by investigators who have in the past used AACT as a resource. This new component (named 'AACT Projects') allows us to create project-specific schemas in the AACT database and populate them with tables/views that contain data created during AACT-based research efforts. Making such information available in the AACT database gives all users the ability to view & make secondary use of information that's been gathered by previous researchers. People may also more easily analyze the results of previous studies and verify conclusions. </p>
  <p>If you've created a database account and have access to the live instance of AACT, you have immediate access to this supplemental project information. All schemas in the AACT database prefixed with 'proj_' contain tables and views about the project.</p>
  <p>To launch this new feature, we have selected an important 2015 research effort that was led by Monique Anderson (Duke University) to study patterns of compliance in reporting results to ClinicalTrials.gov. (Publication found <a ref='results ' target='_blank'>here.</a>) Information about the studies used to conduct this investigation has been saved to the <b>projanderson</b> schema in the AACT database and is currently available to anyone with access to the live AACT database.</p>
  <p>The AACT website includes a 'Projects' page that lists & describes projects that have been added to AACT.</p>
  <p>This component has been designed and deployed as another Ruby on Rails application, therefore AACT is now comprised of 3 applications: 1) AACT Core, 2) AACT Admin & 3) AACT Projects.  All code for these three components is publicly available in github.</p>

  <h5>Nephrology Project</h5>
  <p></p>

  <h5>Monique Anderson Project</h5>
  <p></p>

  <h5>Improve Page Displaying List of Users</h5>
  <p>The AACT website page which lists information about all users has been enhanced; the information is now sortable & the table includes pagination. The option to download user information as a CSV or Excel file is selected, the content of the download only contains information that is of potential interest; attributes containing encrypted values no longer appear in the file. (This page is only accessible to AACT administrators.) </p>

  <h5>Fix Formatting of Data Dictionary Pagination</h5>
  <p></p>

  <h5>Fix User Confirmation Instructions</h5>
  <p></p>

