 <h3>AACT 4.1.0 <i>(November 12, 2018)</i></h3>

  <h5>Implement 'AACT Projects'</h5>
  <p>A new component has been added to AACT which will allow us to share data artifacts created by investigators who have used AACT data as the source of their research. The new component (named 'AACT Projects') allows us to create supplemental schemas in the AACT database and populate them with tables/views containing data created during AACT-based research efforts. Making such information available in the AACT database gives all users the ability to easily view & query information that's been gathered by other researchers and directly analyze and verify the assertions and conclusions of previous research. </p>
  <p>If you have an AACT account, you have immediate access to this supplemental information.</p>
  <p>To launch this new feature, we have selected an important 2015 research effort that was led by Monique Anderson (Duke University) to study patterns of compliance in reporting results to ClinicalTrials.gov. (Publication found <a ref='results ' target='_blank'>here.</a>) Information about the studies used to conduct this investigation has been saved to the <b>projanderson</b> schema in the AACT database and is currently available to anyone with access to the live AACT database.</p>
  <p>The AACT website includes a 'Projects' page that lists & describes projects that have been added to AACT.</p>
  <p>This component has been designed and deployed as another Ruby on Rails application, therefore AACT is now comprised of 3 applications: 1) AACT Core, 2) AACT Admin & 3) AACT Projects.  All code for these three components is publicly available in github.</p>

  <h5>Improve Page Displaying List of Users</h5>
  <p>The AACT website page which lists information about all users has been enhanced; the information is now sortable & the table includes pagination. The option to download user information as a CSV or Excel file is selected, the content of the download only contains information that is of potential interest; attributes containing encrypted values no longer appear in the file. (This page is only accessible to AACT administrators.) </p>

  <h5>Fix Formatting of Data Dictionary Pagination</h5>
  <p></p>

  <h5>Fix User Confirmation Instructions</h5>
  <p></p>

