 <h3>AACT 4.6.1 <i>(April 7, 2021)</i></h3>

 <h5>Categories table renamed to SearchResults</h5>

 <p>We renamed "ctgov.categories" to "ctgov.search_results" to better relect that the table is a collection of search reseults saved from queries in the "ctgov.study_searches" table. </p>
 <p>The saved queries in the "ctgov.study_searches" table are used to search ClinicalTrials.gov. </p>