 <h3>AACT 4.4.0 <i>(December 8, 2019)</i></h3>

 <h5>Refactor to Make it Easier for Others to Implement the AACT Application</h5>
 <p>We have continued to refactor code to make it easier for others to replicate the Ruby on Rails application that retrieves data from ClinicalTrials.gov to populate the AACT database. We replaced hard-coded references for database names & file locations with environment variables. We also removed some obsolete & unused code.</p>

