 <h3>AACT 5.0.2.1<i>(October 28, 2021)</i></h3>
 
 <h5>Release notes - AACT - Version aact-core-5.0.2</h5>
 
 <h5>Bug Fixes</h5>
 <ul>
  <li><p>Add messages to data_verification to know what is happening</p></li>
  <li><p>Fixed Util::Updater tests</p></li>
 </ul>

 <h5>Features</h5>
 <ul>
  <li><p>Setup code to create flat files for beta</p></li>
  <li><p>Setup code to create snapshots for beta</p></li>
  <li><p>Added an example connections.yml file</p></li>
  <li><p>Added a script that compares between schemas tables with that only have one occurrence of each nct_id</p></li>
 </ul>