 <h3>AACT 5.0.0<i>(September 29, 2021)</i></h3>
 
 <p>Migrate ctgov_beta_group_code column to ctgov_group_code column</p>
 <p>Write out the current workflow deployment process</p>
 <p>Create a migration that renames columns in tables from ctgov_beta_group_code to ctgov_group_code</p>
 <p>As a developer I want the setup commands to be more clearly specified</p>
 <p>Have the StudyJsonRecord.data_verification method write out the results from the comparison</p>
 <p>As a developer I want a method that loads a small number of studies for development</p>
