 <h3>AACT 5.0.1<i>(October 10, 2021)</i></h3>
 
 <h5>Hotfix - Ability to process beta in parallel</h5>
 
  <p>Adds the ability to process the beta api in parallel to speed processing</p>
  <p>Currently using 32 threads to speed processing</p>
  <p>Quick estimates show the processing time of around 5 hours for the entire database</p>