 <h3>AACT 5.0.0<i>(September 29, 2021)</i></h3>
 
 <p>Created a migration that renames ctgov_beta_group_code to ctgov_group_code</p>
 <p>Updated the README so the setup steps are cleare</p>
 <p>Added ability for the StudyJsonRecord.data_verification method write out the results from the comparison to a file</p>
 <p>Added a method that loads a small number of studies for development</p>
