 <h3>AACT 6.0.0<i>(November 15, 2021)</i></h3>

 <p>Added Airbrake notifications to StudyJsonRecord model</p>
 <p>Setup code to check study statistics each time a load is done</p>
 <p>Setup code to only use the Beta API when doing a load</p>
 <p>Setup code to compare our data for the Beta API study statistics endpoint for data validation purposes</p>