 <h3>AACT 6.0.0<i>(November 15, 2021)</i></h3>

 <p>Add Airbrake notify in StudyJsonRecord model</p>
 <p>Check statistics each time a load is done</p>
 <p>Run StudyJsonRecord code when doing a load</p>
 <p>The study_statistics endpoint is used to validate data in our database</p>