@import "../old/base/variables";
@import "../old/base/library";
$gutter_width: 18px;
header {
  background-color: $white;
  opacity: 1 !important;
  padding: 10px 0px !important;
  width: 100% !important;

.user-logged-in {
    border-bottom: thick solid black;
    border-width: 1px;
    margin: 0px 0px;
    padding: 0rem .2rem 0rem 1rem;
    font-size: 1.2rem;
    color: black;
    text-align: right;
}
p.user-info {
    //display:none;  //  remove this when we are ready to make user registration available
    margin: 0px 0px;
    padding: 0rem .2rem 0rem 1rem;
    font-size: 1rem;
    text-align: right;
}

.user-button {
    font-size: 1rem;
    padding: .4em;
}

#navbar-top {
  width: 90%;
  font-size: 0px;
  font-family: "Roboto";
}

.navbar-brand {
  margin-right: 0rem !important;
  margin-left: -2rem !important;
}
#common-header {
  padding-top: 5rem !important;
}
  div.wrap {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    padding-right: 0;
  }

  img.logo {
    max-width: 500px;
    margin-left: 3rem;
  }

  nav {
    @include display-flex;
    text-align: center;
  }

  div.navContainer {
    padding-right: 0px;
    padding-top: 2rem;
    @include display-flex;
    @include flex-direction(column);
    float: right;
    text-align: right;
  }

  div.newsletter {
    width: 100%;
    margin-bottom: 40px;

    input[type="text"] {
      background-color: rgb(249,249,249);
    }
  }

  h1.announcement {
    color: black;
    font-family: "Roboto";
  }

  div.announcement {
    margin-bottom: 0rem;
    text-align: center;
    border: 1px solid #e9e9e9;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 140px;
    max-width: 70%;
    font-family: "Roboto";
    background-color: rgb(240,240,240);
    @include box-shadow(3px 3px 11px $grey);
  }

  ul.announcement {
    list-style-type: none;
    font-family: "Roboto";
    line-height: 1.4;
    font-weight: 100;
    color: #800000;
  }

  a.navItem {
    font-size: 1.2rem;
    padding: .4rem;
    text-transform: uppercase;
    margin-left: $gutter_width;
    color: $primary;

    i {
      margin-right: 4px;
      font-size: 1rem;
    }
  }

}
