<div class="modal-body">
  <h1>New Study Statistics Comparison</h1>
  <%= render 'form', study_statistics_comparison: @study_statistics_comparison %>
  <div class="modal-body">
    <div class="container-fluid">
      <%= link_to 'Back', studies_statistics_comparison_index_path, :class => "btn btn-primary btn-sm" %>
    </div>  
  </div>
</div>
