<div class="pb-3">
  <h1>Load Events</h1>
</div>

<div class="text-danger">

  <!-- <div class="row"> -->
    <div class="col">
      Started
    </div>
    <div class="col">
      Event Type
    </div>
    <div class="col">
      Status
    </div>
    <div class="col">
      Description
    </div>
  <!-- </div> -->

  <% @load_events.each do |loadevent| %>
    <div class="row">
      <div class="col-2">
        <%= link_to loadevent.created_at.strftime('%m/%d/%Y %l:%M %p'), event_path(loadevent) %>
      </div>
      <div class="col">
        <%= loadevent.event_type %> test1
      </div>
      <div class="col">
        <%= loadevent.status %> test2
      </div>
      <div class="col">
        <%= loadevent.description %> test3
      </div>
    </div>
  <% end %>

</div>
