<section class="learnMore">

  <h4>MeSH Thesaurus</h4>
  <p>All ClinicalTrials.gov data are available in the <i>ctgov</i> schema of the AACT database. The <i>ctgov</i> schema also includes two tables from another source; <i>mesh_terms</i> & <i>mesh_headings</i> provide a recent copy of the <a href='https://www.ncbi.nlm.nih.gov/mesh' target='_blank'>Medical Subject Headings (MeSH terms & headings)</a> published by the National Library of Medicine. These 2 tables are included to help people who use MeSH terms to categorize studies. (ClinicalTrials.gov uses <i>browse_conditions</i> & <i>browse_interventions</i> to link studies to related MeSH terms.)</p>

  <p>Earlier versions of the MeSH Thesaurus that were previously included in AACT are availabile in the <i>mesh_archives</i> schema.</p>

  <section class="schema">
     <% if !@mesh_archive_schema_file.blank? %>
       <p><%= image_tag(@mesh_archive_schema_file) %></p>
     <% end %>
  </section>

  <p>The National Library of Medicine updates the MeSH Thesaurus each year. Select annual versions of MeSH terms are provided in the <i>mesh_archive</i> schema.</p>

    <p>Please refer to the National Library of Medicine's (NLM) documentation for authoritative definitions of the data elements:</p>
    <ul class='regularDisplay'>
      <li><a href="https://prsinfo.clinicaltrials.gov/definitions.html" target="_blank" onClick="ga('send','event','external link','schema page: NLM Protocols')">registered protocol</a></li>
      <li><a href="https://prsinfo.clinicaltrials.gov/results_definitions.html" target="_blank" onClick="ga('send','event','external link','schema page: NLM Results')">study results</a></li>
    </ul>
    <% if @show_dictionary_link %>
      <p>The <a href='/data_dictionary' target='_blank'>online data dictionary</a> includes links to sections of this NLM documentation to provide documentation about specific data element.</p>
    <% end %>

</section>
