<div class="wrap">

  <div class="basicHero">
    <h1>Beta Migration Documentation</h1>
  </div>

  <p>ClinicalTrials.gov is changing the format of how they deliever data January 1st 2022. They will switch from XML to JSON format. 
  In preparation for migration that we have added the ability to capture that data to the code base of AACT and set up the data it captures into a separate database.</p>
  <p>On this page you will find information about AACT Beta. For those who are testing the beta database, you can submit issues and requests on this page. </p>
  <br>

  <h4>Connecting</h4>
  <p>If you are interested in using the data in AACT Beta the method for connecting to it is almost the same as connecting to AACT. 
  The only difference are:</p>
  <ul class='regularDisplay'>
    <li><p>database: aact_beta</p></li>
    <li><p>schema: ctgov_beta</p></li>
  </ul>
  <p>Visit the <a href="/connect">Connect</a> page for information on connecting to AACT. 
  The steps on that page can be used for AACT Beta as long as you set "aact_beta" as the database name and "ctgov_beta" as the schema name.</p>

  <br>
  <h4>Some known differences between AACT and AACT Beta</h4>
  <ul>
    <li><p>The column ctgov_group_code is named ctgov_beta_group_code. Please note the codes themselves are different between the Beta and regular API on ClinicalTrials.gov.</p></li>
    <li><p>Empty Design and Enrollment objects are not created if there is no data for them.</p></li>
    <li><p>There are more agency_types. However, the number of agencies is the same between ctgov and ctgov_beta.</p></li>
    <li><p>Reported event totals are handled differently in Beta on ClinicalTrials.gov. There is no total all cause mortality.</p></li>
    <li><p>There is no download date for StudyJsonRecords, because none is provided by the ClinicalTrials.gov Beta API.</p></li>
    <li><p>The Beta API provides Reported_event_totals with addtional data for the following columns: restriction_type, other_details and restrictive_agreement.</p></li>
    <li><p>When no data is provided for a column the value is saved as null/nil (rather than an empty string).</p></li>
    <li><p>There are some capitalization differences and minor verbiage differences.</p></li>
  </ul>

  <br>
  <h4>Status of Issues/Requests</h4>
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrmhjOdSzZ9WLqd6?backgroundColor=orange&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  <br>
  <h4>Form to submit Issues/Requests</h4>
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrsjLUxT5X7Sabi4?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>

  
  <div style="display: none;"><%= ENV['PUBLIC_DB_HOST'] %></div>
</div>
