<div class="wrap">

  <div class="basicHero">
    <h1>Migration Documentation</h1>
  </div>

  <p>
  ClinicalTrials.gov changed the api we use to get all of our data. This page describes all the changes we have identified in our database structure after the switch.
  If you have started using our database after <b>November 15, 2021</b>, you <b>DO NOT</b> need to worry about these changes. This page is for people who have used the database before <b>November 15, 2021<b> and need help migrating from the previous structure.
  </p>
  <br/>

  <h4>Differences between AACT and AACT pre November 15, 2020</h4>
  <ul>
    <li><p>Empty Design and Enrollment objects are not created if there is no data for them.</p></li>
    <li><p>There are more agency_types than there were before. However, the number of agencies is the same.</p></li>
    <li><p>There is no total all cause mortality now like there was before.</p></li>
    <li><p>We now provide reported_event_totals with addtional data for the following columns: restriction_type, other_details and restrictive_agreement.</p></li>
    <li><p>When no data is provided for a column the value is saved as NULL instead of an empty string.</p></li>
    <li><p>There are some capitalization differences and minor wording differences in some of the data.</p></li>
  </ul>

  <br>
  <h4>Status of Issues/Requests</h4>
  <p>If you discover an issue please see if there is a similar issue that we are working on already. If there isn't please fill out the form below and let us know about it.</p>

  <iframe class="airtable-embed" src="https://airtable.com/embed/shrmhjOdSzZ9WLqd6?backgroundColor=orange&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  <br>
  <h4>Form to submit Issues/Requests</h4>
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrsjLUxT5X7Sabi4?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>
