<table class="file-archive">
 <tr>
    <th class="file-archive">Downloadable File</th>
    <th class="file-archive">Date File Was Created</th>
  </tr>
  <% files.try(:each) do |file| %>
    <tr>
      <td class="file-archive">
        <a href="<%= file.url %>" onClick="ga('send','event','download','<%= type %>')"><%= file.filename %></a>
      </td>
      <td class='file-archive'><%= file.created_at.strftime("%m/%d/%Y") %></td>
    </tr>
  <% end %>
</table>
