<div>
  <h1>Connect to AACT</h1>
    <div class="connectionTypes">
      <a href="/playground" class="connectionCard w-100">
        <h4>Playground</h4>
        <p>
        Click here to run queries on the AACT data from your web browser.
        </p>
        <%= fa_icon("plug") %>
      </a>
    </div>
    <p>
       In addition to the Playground you can use any Postgres clients. Below is some examples of clients to connect to AACT which are free and straightforward to install and set up.
    </p>
    <section class="connect">
     <ul class='regularDisplay indent'>
      <li>   
        <a href="/pgadmin" class="connectionCard">
        pgAdmin
        </a>
      </li> 
      <li>
        <a href="/r" class="connectionCard">
          R and RStudio
        </a>
      </li> 
      <li>
        <a href="/sas" class="connectionCard">
        SAS
        </a>
      </li>
      <li>
        <a href="/postgres" class="connectionCard">
        pSQL
        </a>
      </li>
    </ul>

    <% if user_signed_in? %>
      <%= render 'credentials/credentials' %>
    <% else %>
      <div class="connectionTypes">
        <a href="/users/sign_up" class="connectionCard">

          <h4>Create an Account to Access Cloud Database</h4>
          <p>
            As of May 2018, you need an AACT account to access the cloud-based database. Creating an account is easy: just click here and enter your name, 
            an email address, and a password. Once you create an account and login, the credentials you need to access the database will be displayed here.
          </p>
          <%= fa_icon("plug") %>
        </a>
      </div>

      <div class="connectionTypes">
        <a href="/users/sign_in" class="connectionCard">

          <h4>Already Have an Account?</h4>
          <p>
            If you already have an AACT account and need a reminder of the access credentials, login and the info you need will appear here.
          </p>
          <%= fa_icon("plug") %>
        </a>
      </div>
    <% end %>
  </div>
</section>
</div>
