<div>
  <h1>Contact Us</h1>
  <h4>Form to submit Issues/Requests</h4>
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrsjLUxT5X7Sabi4?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" height="300" style="background: transparent; border: 1px solid #ccc;"></iframe>
  <br>
  <h4>Status of Issues/Requests</h4>
  <p>If you discover an issue please see if there is a similar issue that we are working on already. If there isn't please fill out the form below and let us know about it.</p>
  <p> If you have an inquiry that is not related to AACT please contact CTTI directly <a href="https://ctti-clinicaltrials.org/contact-us/">here</a>.</p>
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrmhjOdSzZ9WLqd6?backgroundColor=orange&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="300" style="background: transparent; border: 1px solid #ccc;"></iframe>
  
  <div style="display: none;"><%= ENV['PUBLIC_DB_HOST'] %></div>

</div>
