<section class="pipe-delimited">
  <div class="wrap">
    <div class="basicHero">
      <h1>COVID-19 Related Clinical Studies Spreadsheet</h1>
    </div>

    <p>The following files contain current clinical studies related to Coronavirus Disease 2019 (COVID-19) from ClinicalTrials.gov as of the date and time of file creation.
    There may be more studies on ClinicalTrials.gov, that were uploaded after the most recent file here.
    Each file allows users without advanced database skills to explore the trials in a spreadsheet format.</p>
    <p>The spreadsheet is created daily by using ClinicalTrials.gov’s <a href='https://clinicaltrials.gov/ct2/results?cond=COVID-19' target='_blank'>search strategy for clinical studies related to COVID-19</a> and the database for Aggregate Analysis of ClinicalTrials.gov (AACT).
    Details on the search terms used to generate the list of studies are available <a href='https://clinicaltrials.gov/ct2/results/details?cond=COVID-19' target='_blank'>here.</a> </p>

    <p>The spreadsheet includes each study as a single row and <a href='/covid_19_fields'>68 columns of information about each study.</a> You can download the explanation of fields <a href='/covid_19_fields'>here.</a></p>

    <p>For AACT database users, a table called "covid_19_studies" containing the 68 columns from the spreadsheet, is now included within AACT.</p>
        <div class="col-5 border rounded-3 p-3 bg-light">
    <h4>Daily Static Copies</h4>
    <select class="form-select" aria-label="Default select example" onchange="location = this.value;">
      <option selected>Select file to download</option>
      <% @daily.each do |file| %>
        <option value="<%= file.url%>">
          <a href=<%= file.url%> download="proposed_file_name"> <%= file.filename%>   </a>
        </option>
      <% end %>
    </select>
    </div>
  </div>
</section>
