<section class="pipe-delimited">
  <h2>Covid-19</h2>

  <h4>Each spreadsheet is a snapshot of the state of the studies for Covid-19</h4>
  <p><%= render 'file_archive', :files => @covid_19_files %></p>

</section>