<br><br>
<div id="centerfaq">
   <h1>Frequently Asked Questions</h1>
   
   <h3>Q: Do you keep History of changes?</h3>
   <p>A: At the moment we do not store this.</p>
   
   <h3>Q: What time is the database updated?</h3>
   <p>A: Between 1:00 AM - 2:30 AM EST.</p>  

   <h3>Q: Whitelist IP address on the server.</h3>
   <p>A: Our IP address to whitelist 174.138.61.222 & 159.89.247.181</p>
</div>
<br><br>