<section class="basicHero">
  <div class="alert alert-danger">
    <p><%=@notice.body%></p>
  </div>

  <div class="copy">
    <h1>Improving Public Access to Aggregate Content of ClinicalTrials.gov</h1>

    <h3>What is AACT?</h3>
    <p>AACT is a publicly available relational database that contains all information (protocol and result data elements) about every study registered in ClinicalTrials.gov. Content is downloaded from ClinicalTrials.gov daily and loaded into AACT. The Clinical Trials Transformation Initiative (CTTI) enhanced AACT in October, 2016 to include the following features:</p>
    <ul class='regularDisplay indent'>
      <li>Database content refreshed daily</li>
      <li>Database directly accessible in the cloud</li>
      <li>Static copies of the database available for download</li>
      <li>Open source tools freely available (postgreSQL, Ruby on Rails, Tableau Public)</li>
      <li>Source code available via <a target='_blank' href='https://github.com/ctti-clinicaltrials/aact'>Github</a></li>
    </ul>
  <!--
  <p>
    If you're interested in data extracted via the original AACT system (March, 2016 and earlier), please visit <a href="https://www.ctti-clinicaltrials.org/aact-database">the original AACT webpage</a>.
  </p>
  -->
  </div>
  
  <div class="alert alert-danger">
    <p>ClinicalTrials.gov is moving to a new version of their API January 1st 2022. This change should not affect the structure of AACT significantly, but there will be changes. Please see our <a href="/beta/migration">migration</a> page to see the currently document differences and to alert us about any mistakes.</p>

    <p>In preparation for this migration that we have added the ability for you see the most recent version of the data.</p>

    <p>Please go to our beta <a href="/beta/migration">migration</a> page to see how to run queries on the data.</p>
  </div>

</section>

<section class="homeHero container">
  <div class="heroPanelRow row">
      <a href="/points_to_consider" class="button info_shade_light col-lg col-md">
        <span class="type">Practical Info for Researchers and Analysts</span>
        <span class="title">Researcher's Guide to Using AACT</span>
        <%= fa_icon('info-circle') %>
      </a>
      <a href='https://www.ctti-clinicaltrials.org/briefing-room/publications' target='_blank' class='button info_shade_light light col-lg col-md'>
        <span class="type">News</span>
        <span class="title">Related Publications</span>
      </a>
      <a href="https://www.bmj.com/content/361/bmj.k1452" target='_blank' class="button info_shade_dark col-lg col-md">
        <span class="type">More Practical Advice</span>
        <span class="title">How to avoid common problems when using ClinicalTrials.gov in research</span>
        <%= fa_icon('info-circle') %>
      </a>
  </div>
</section>
