<div>
  <h1>Playground workflow description:</h1>
  <p> Playground allowes you to get the data in 3 easy steps: </p>
  <ol class='regularDisplay'>
    <%# <li>Sign in or Create account:</li> %>
    <li>Input query.</li>
    <li>Click Execute.</li>
    <li>Verify results.</li> 
  </ol>
  <p> <%= image_tag("playground_info.jpg", :class => 'centerImage') %> </p>

  <div class="connectionTypes">
    <a href="/playground" class="connectionCard w-100">
      <h4>Playground</h4>
      <p>Click here to start run queries on the AACT data from your web browser.</p>
    </a>
  </div>
</div>
