<div>
  <h1>Connect to AACT using the Saved Query System</h1>
  <section class="savedqueryAccess">
    <p>
      This method for accessing the AACT database is recommended for Saved Query System users wanting to run queries using the live database. 
    </p>
    <h3>Note:</h3>
    <ul>
      <li><p>The saved queries database contains the stored queries that the users will be sharing. </p></li>
      <li>
          <p>
            The saved queries index page contains a table that lists all of the queries loaded from the database. The table displays the Title, Description, SQL, User, and Created.  
            It also contains a button “New Query” that takes us to /saved_queries/new that allows us to write and save a new query.
            The Title is a link to /saved_queries/:id which displays all of the saved query details shown below.      
          </p>
          <p>
            The saved queries show page displays the Title, Description, Public, SQL, User, and Created.  
            - Title of query
            - Description of query
            - Public checkbox to make the query public to everyone
            - SQL query
            - User name of the person that created the query
            - Created at date of the query 
          </p>
      </li>
      <li><p>
            The show page also contains two buttons "Edit" and "Delete" to allow the user that created the query to edit or delete it.
            If the user did not create the query, the "Edit" and "Delete" buttons will not be displayed.
      <li><p>
            The show page also contains a button "Execute SQL Query" to allow any user to run the SQL to communicate and perform tasks on the AACT database.
            The "Execute SQL Query" button takes the user to the page /query?query=< SQL >, where the SQL is run and the output results are displayed.
      </p></li>
    </ul>
  </section>
  <section class="savedqueryAccess container">
    <div class="step">
      <span class="stepNumber">1</span>
      <h3 class="stepName">Saved Query System Installation requirements</h3>
    </div>
    <p>
      
    </p>
    <p>
      <b>Note:</b>  
    </p>
    <p>
     
    </p>
    <div class="step">
      <span class="stepNumber">2</span>
      <h3 class="stepName"> <i> </i>  </h3>
    </div>
    <p>
      
    </p>
    <p>
      
    </p>

    <p>
      
    </p>

    <p>
      
    </p>

    <p>
      
    </p>

    <div class="step">
      <span class="stepNumber">3</span>
      <h3 class="stepName"> <i> </i>  </h3>
    </div>

    <p>
      
    </p>

    <h4>Example 3.a - </h4>
    
    <div class="container">
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>   
    <h4>Example 3.b - </h4>
   
    <div class="container">
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
         
        </div>
      </div>
    </div>   
    <h4>Example 3.c –  </h4>

    <div class="container">
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>   
    <h4>Example 3.d –  </h4>

    <p>
      
    </p>

    <h4>Example 3.e – </h4>

    <p>

    </p>

    </section>
</div>    