<div class="wrap">

  <div class="basicHero">
    <h1>AACT Database Schema</h1>
  </div>

  <p>The diagram below illustrates how ClinicalTrials.gov data is stored in the AACT database, identifying all tables/columns and relationships.</p>

  <p>Each table includes the unique identifier assigned by ClinicalTrials.gov: <i>nct_id</i> which allows you to find all data for a particular study by serving as the key that joins related information across multiple tables. Every table (except Studies) also includes an <i>id</i> column which is the primary key that uniquely identifies each row in the table. In most cases, you need to use the <i>nct_id</i> to join tables. For more information about the <i>id</i> column, please refer to documentation found <a href='/schema#idInformation'>here.</a></p>

  <h2>Study-related Tables</h2>
  <section class="schema">
     <%= image_tag(@schema_diagram) %>
  </section>

  <%= render 'download_database_specs' %>

  <%= render 'schema_info' %>
</div>
