<section class="techDoc">
  <h3 id="techDoc">Technical Documentation</h3>
  <p>The system consists of 2 Ruby on Rails applications available in github:

  <ul class='regularDisplay'>
    <li><b><a target='_blank' href='https://github.com/ctti-clinicaltrials/aact'>AACT Core</a></b> - The code responsible for retrieving data from the ClinicalTrials.gov API and making them available in a postgres database.</li>
    <li><b><a target='_blank' href='https://github.com/ctti-clinicaltrials/aact-admin'>AACT Admin</a></b> - The code that provides supporting features to the database such as this website, user registration and use case .</li>
  </ul>
  </p>

 <p>Both of the applications use Ruby 2.4.0, Rails 4.2 and PostgreSQL.</p>

  <h4 id="Overview"></h4>
  <p></p>

  <h4 id="faq">FAQ</h4>

  <p>This section lists frequently encountered issues.</p>

  <h4 id="architecture">High Level Architecture</h4>

  <div>
    <p>
      Click <a href=<%= @process_flow_diagram %> target="_blank" onClick="ga('send','event','technical docs','process flow diagram')">
      here</a> to view a high-level process flow diagram that illustrates the relationship between servers, databases and applications.
    </p>
  </div>

  <h4 id="schemaDiagrams">Schema Diagrams</h4>
  <p>To ensure accuracy, the process that pulls data into the AACT database from ClinicalTrials.gov includes a set of validation and sanity checks.</p>
  <p>AACT schema diagrams and documentation may be downloaded from the following links:</p>
  <ul class='regularDisplay'>
        <li><a href=<%= @schema_diagram %> target="_blank" onClick="ga('send','event','download','download schema')"  >downloadable schema diagram</a> (right click on the resulting page to download)</li>
        <li><a href=<%= @support_schema_diagram %> target="_blank" onClick="ga('send','event','download','download schema')"  >downloadable diagram of support tables</a> (right click on the resulting page to download)</li>
        <li><a href=<%= @admin_schema_diagram %> target="_blank" onClick="ga('send','event','download','download schema')"  >downloadable diagram of admin tables</a> (right click on the resulting page to download)</li>

  </ul>

</section>
