<h2 id="background">Database Update Policy and Schedule</h2>
<p>Clinicaltrials.gov updates their studies daily between 4AM-8AM EST. During this time they add and update studies. The amount of time that it takes them to do this depends on how many studies they have to add and update. </p>
<p>Between <span style="color:#246bb0;font-weight:bold;font-style:italic"> 1:00 AM - 2:30 AM EST </span> we cut off access to the public database to update it. The amount of time that the database is unavailable depends on the number of new and updated studies that day. The update includes: </p>
<ul class='regularDisplay'>
   <li>Any new studies that were added to clinicaltrials.gov between <span style="color:#246bb0;font-weight:bold;font-style:italic">4AM-8AM EST</span> the previous day.</li>
   <li>Any studies with a newer LastUpdatePostDate. This field is updated when the new version of the study is posted.</li>
   <li>About 80,000 of the oldest studies, studies that we haven’t updated in a while.</li>
</ul>
<p>Clinicaltrials.gov sometimes updates or changes study data even if there is no new posted version of the study. For example, derived data that is not added by the researcher. For this reason we periodically want to update all the studies in the database. Given the time constraints we are only able to update about 80,000 studies daily. We prioritize the studies that haven’t been updated recently.</p>
<p>After updating the public database we create a snapshot of it and make it available for download. We keep all the daily snapshots for the current month and all the snapshots for the first of the month. </p>
<p>In addition to a postgres snapshot, we also generate an export of the database in a pipe delimited format that can be easily imported into excel or other similar applications. We also keep the current month’s exports and the exports generated at the first of the month. </p>