<section class='taggedTerm'>

    <p>
      <div class='taggedTerm'>
        <p class='taggedTermName'><%= @study.brief_title %></p>
        <p><%= @study.study_type %></p>
        <p><%= @study.start_date %></p>
        <p><%= @study.phase %></p>
      </div>
    </p>

</section>

