<div>

    <h3>Background</h3>
      <p class='projectExplanation'>Since the AACT database was launched in 2010, dozens of researchers have used it to better understand the state of clinical trials. Many important questions can be answered by analyzing this set of clinical trials data. Several investigators have used AACT to study 'results reporting trends' to determine how compliant the research community has been with federally mandated regulations. Others have used AACT to find out which conditions & interventions tend to receive the most attention, which appear to be neglected and how specific types of trials are distributed geographically.</p>
      <p class='projectExplanation'>Several AACT-based investigations have produced datasets that can be of use to others interested in similar topics or those who would like to further analyze or verify the investigations. Since the process to develop datasets typically requires considerable effort to query, curate, verify and adjudicate inclusion/exclusion of information, these datasets require an investiment and are valuable sources of information.</p>

    <h3>Project Data Available in AACT</h3>
    <p class='projectExplanation'>To maximize the value of AACT-based research efforts, we're making project datasets available within the AACT database. Each project has its own database schema that encapsulates that project's published data. Users of the live AACT database can query the project data and/or ClinicalTrials.gov data. They may join data across different schemas. In short, project information is kept structurally separate from ClinicalTrials.gov data, but the information is also integrated within the same database. Some projects include a dictionary view that defines the data available for that project. The name of a project's database schema is identified in the table below. Click on the plus icon of any row in this table to view project details and access downloadable versions of datasets related to the project.</p>

    <h3>Limitations</h3>
    <p class='projectExplanation'>In this first release, data for three projects have been added to AACT; these pilot projects are listed below. This list will grow as projects continue to be added.</p>
    <p class='projectExplanation'>Project data is available only in the live AACT database directly accessible via any database client tool configured to access the AACT database at aact-db.ctti-clinicaltrials.org. The static copies of the AACT database and the sets of pipe-delimited files that are available for download contain only ClinicalTrials.gov data; they do not include project information.</p>
</div>
