<div>

    <h3>Background</h3>
      <p class='projectExplanation'>Since the AACT database was launched in 2010, dozens of researchers have used it to better understand the state of clinical trials. Many important questions can be answered by analyzing this set of clinical trials data. Several investigators have used AACT to study 'results reporting trends' to determine how compliant the research community has been with federally mandated regulations. Others have used AACT to find out which conditions & interventions tend to receive the most attention, which appear to be neglected and how specific types of trials are distributed geographically.</p>
      <p class='projectExplanation'>Several AACT-based investigations have produced datasets that can be of use to others interested in similar topics or those who would like to further analyze or verify the investigations. (For example, the curated set of condition terms used to identify a particular subset of studies.)</p>

    <h3>Project Data Available in AACT</h3>
    <p class='projectExplanation'>To facilitate public sharing of curated data resources between AACT users, we're making project datasets available within the AACT database. Each project has its own database schema that encapsulates the curated data that a particular project has shared with us. Users of the live AACT database can query the project data and/or ClinicalTrials.gov data that resides in the main AACT schema: <i>ctgov</i>. They may join data across different schemas. In short, project information is kept structurally separate from ClinicalTrials.gov data, but the information is also integrated within the same database. The name of a project's database schema is identified in the table below. Click on the plus icon of any row in this table to view project details and access downloadable versions of the datasets and data definitions.</p>

</div>
