<div>

    <h3>Background</h3>
      <p class='projectExplanation'>Since the AACT database was launched in 2010, dozens of researchers have used it to better understand the state of clinical trials. Many important questions can be answered by analyzing this relatively complete set of clinical trials data. Several investigators have used AACT to study 'results reporting trends' to determine how compliant the research community has been with federally mandated regulations. Others have used AACT to find out which conditions & interventions tend to receive the most attention, which appear to be neglected and how specific types of trials are distributed geographically.</p>
      <p class='projectExplanation'>Several AACT-based investigations have produced datasets that are probably useful to others interested in similar topics and those who would like to further analyze or verify the investigations. Since the process to develop datasets typically requires considerable effort to query, curate, verify and adjudicate inclusion/exclusion of information, these datasets are valuable sources of information.</p>

    <h3>Project Data Available in AACT</h3>
    <p class='projectExplanation'>To maximize the value of AACT-based research efforts, we're making project datasets available within the AACT database. Each project has its own database schema that encapsulates all that project's data. Users of the live AACT database can query the project data and/or ClinicalTrials.gov data. They may easily join data across these different schemas. In short, all project information is kept structurally separate from ClinicalTrials.gov data, but the information is also integrated within the same database. Each project schema includes a dictionary table that defines the data available for that project. The name of a project's database schema is identified in the list below under 'DB Schema'. Click on the plus icon of any row to view project details and access downloadable versions of datasets related to the project.</p>

    <h3>Other AACT-based Project Information Available</h3>
    <p class='projectExplanation'>Not all projects included in the list below have data in the AACT database but are included here because they provide valuable information and can direct people to other resources that may be useful. For example, one project is a website that uses the AACT database as a datasource, and provides ways to enhance the information by crowd-sourcing annotations & corrections which are stored in a database dedicated to that website.</p>

    <h3>Limitations</h3>
    <p class='projectExplanation'>Currently, only a few projects have data in AACT; these pilot projects are listed below. This list will grow as projects continue to be added.</p>
    <p class='projectExplanation'>Project data is available only in the live AACT database directly accessible via any database client tool configured to access the AACT database at <b class='projectExplanation'>aact-db.ctti-clinicaltrials.org</b>. The static copies of the AACT database and the sets of pipe-delimited files that are available for download contain only ClinicalTrials.gov data; they do not include project information.</p>
</div>
