<div>

  <h3>Limitations</h3>
  <ul>
    <li><p class='projectExplanation'>Project data are available only in the live AACT database hosted at aact-db.ctti-clinicaltrials.org. Static copies of the database and pipe-delimited filesets available for download contain only ClinicalTrials.gov data; they do not include project information.</p></li>
    <li><p class='projectExplanation'>Files containing data element definitions (defining project-specific tables & columns) are available for download for some projects in the 'Other Attachments' section.</p></li>
    <li><p class='projectExplanation'> Currently, AACT includes analytic information for four AACT-based projects that CTTI determined to be of greatest value and will most likely benefit the largest audience. Many other investigators have analyzed ClinicalTrials.gov data. CTTI intends to continue to incorporate curated and analytic data from past and future research to further enhance this database resource.</p></li>
  </ul>

</div>
