<div>

  <h3>Limitations</h3>
  <ul>
    <li><p class='projectExplanation'>Many investigators have used AACT as a data source for their research projects. We currently provide information about only four such projects and anticipate that more project information will be added over time.</p></li>
    <li><p class='projectExplanation'>Project data are available only in the live AACT database hosted at aact-db.ctti-clinicaltrials.org. Static copies of the database and pipe-delimited filesets available for download contain only ClinicalTrials.gov data; they do not include project information.</p></li>
    <li><p class='projectExplanation'>Files containing data element definitions (defining each table & column) are available for download (see 'Data Definitions' in the Attachments section of each project row in the table above). In the next release, we intend to provide these definitions as a view in the AACT database itself so this information is readily available to those who might not be aware of this information on the website.</p></li>
  </ul>

</div>
