<div class="modal-body">
  <h1>New Data Definition</h1>
  <%= render 'form', data_definition: @data_definition %>
  <%= link_to 'Back', data_definitions_path, :class => "btn btn-primary btn-sm" %>
</div>