<!-- created view templates in app/views/errors/ for the internal server error (500) page -->
<h1>Looks like this page encountered an error. </h1>
<p>This error has been reported and will be addresssed by the administrators.</p>
