<div>

    <h3>Background</h3>

    <p class='projectExplanation'>Since the AACT database was launched in 2010, dozens of researchers have used it to better understand the state of clinical trials. Investigators have used AACT to study 'results reporting trends' to determine how compliant the research community has been with federally mandated regulations. Others have used AACT to find out which conditions & interventions tend to receive the most attention, which appear to be neglected, and how specific types of trials are distributed geographically.</p>

    <p class='projectExplanation'>Several AACT-based investigations have produced datasets, such as curated sets of condition terms used to identify a particular subset of studies. Providing access to this analytic data allows others interested in similar topics, or those who would like to further analyze or verify the investigations, to benefit and build upon the previous work.</p>

    <h3>Shared Data Available in AACT</h3>
    <p class='projectExplanation'>To facilitate public sharing of curated data resources between AACT users, we're making project datasets available within the AACT database. Each project has its own database schema that encapsulates the curated data the project's principal investigator has shared with us. Users of the live AACT database can query the project data and/or ClinicalTrials.gov data that resides in the main AACT schema: <i>ctgov</i>. They may join data across different schemas. In short, project information is kept structurally separate from ClinicalTrials.gov data, but the information is also integrated within the same database so it can be used in combination with current trial data.</p>

    <p class='projectExplanation'>The name of each project's database schema is identified in the table below. Click on a row to view more details & access downloadable versions of datasets and data definitions.</p>

</div>
