<div class="modal-body">
  <%= render 'layouts/query_menu' %>
  <span class="h4">Edit Query</span>
  <%= render 'form', saved_query: @saved_query %>
  <div class="modal-body">
    <div class="container-fluid">
      <%= link_to 'Back', saved_query_path(@saved_query), :class => "btn btn-primary btn-sm" %>
    </div>
  </div>  
</div>  