<div class="modal-body">
  <h1>New Saved Query</h1>
  <%= render 'form', saved_query: @saved_query %>
  <div class="pb-4"></div>
  <div class="modal-body">
    <div class="container-fluid">
      <%= link_to 'Back', saved_queries_path, :class => "btn btn-primary btn-sm" %>
    </div>  
  </div>
</div>