@import "../base/variables";
@import "../base/library";

#projectContainer {
  width: 100%;
}

.seeMoreButton {
  float: right;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

.projectAactVersion {
  float: left;
  padding-left: 0rem;
}

.projectAactVersionLabel {
  padding-top: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  padding-right: 1rem;
}

#projectFilter {
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 1rem;
}

ul.projectDetails {
  list-style: none;
  padding-left: 1rem;
  margin-left: 1rem;
}

li.faqLine {
  font-weight:  500;
  font-size:    1.4rem;
  padding-left: 4rem;
}

p.indentProjectDetails {
  font-size:    1.4rem;
  margin-left:  8rem;
  margin-right: 8rem;
}

.projects {
  margin-left:  8rem;
  margin-right: 8rem;
}

.projectExplanation {
  font-size: 1.8rem;
}

.projectLabel {
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 2rem;
}

p.projectDetails {
  padding-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  font-family: "Roboto";
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

tr.projectRow {
  font-weight: 400;
}

.projectName {
  font-weight: bold;
}

.projectData {
   color: $maroon;
   //font-size: 1rem;
   border-style: groove;
   border-color: $secondary;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 10px;
   padding-top: 10px;
}

a.projectNavItem {
  font-size: 1.8rem;
  padding: .4rem;
  text-transform: uppercase;
  margin-left: 18px;
  color: #008aa1
}
