@import "../base/variables";
@import "../base/library";

#projectContainer {
  width: 100%;
}

.pleaseNote {
  margin-top: 5rem;
}

.projectAactVersion {
  float: left;
}

.indentProjectLabel {
  margin-top: 1rem;
  margin-left: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: 400;
  font-size: 1.4rem;
}
.projectLabel {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
  padding-right: 1rem;
}

#projectFilter {
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 1rem;
}

ul.projectDetails {
  list-style: none;
}

p.faqLine {
  font-weight:  400;
  font-size:    1.4rem;
  font-style:   italic;
}

p.indentProjectDetails {
  font-size:    1.4rem;
  margin-left:  8rem;
  margin-right: 8rem;
}

p.projectDetails {
  font-size:    1.4rem;
  margin-left:  0rem;
  margin-right: 2rem;
}
.projects {
  margin-left:  8rem;
  margin-right: 8rem;
}
.seeMoreButton {
  float: right;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  color: white;
  background-color: #26657a !important;
  padding-left: 12px !important;
}

.btn-primary:hover, .btn-primary:active {
  color: white;
  background-color: #008aa1 !important;
  padding-left: 12px !important;
}
h1.projects {
  color: #26657a;
  margin-left: 1px;
}

.projectExplanation {
  font-size: 1.8rem;
}

.projectLabel {
  padding-top: 1rem;
}

p.projectDetails {
  padding-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  font-family: "Roboto";
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

tr.projectRow {
  font-weight: 400;
}

.projectName {
  font-weight: bold;
}

.projectData {
   color: $maroon;
   //font-size: 1rem;
   border-style: groove;
   border-color: $secondary;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 10px;
   padding-top: 10px;
}

a.projectNavItem {
  font-size: 1.8rem;
  padding: .4rem;
  text-transform: uppercase;
  margin-left: 18px;
  color: #008aa1
}
