// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4.projName {
  font-weight: bold;
}

div.projectHeading {
  margin-left: 6rem;
}

.projectLabel {
  margin-top: 1rem;
  margin-left: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: 700;
  font-size: 1.4rem;
}
