// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projLabel {
  font-weight: bold;
  color: red;
  //font-size: 1.2rem;
}

.projectName {
  font-weight: bold;
  //font-size: 1.2rem;
}

.projectData {
   color: $maroon;
   //font-size: 1rem;
   border-style: groove;
   border-color: $secondary;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 10px;
   padding-top: 10px;
}


