<div class="CodeRay">
  <pre>
    <div class="code-grid" style="display: flex; gap: 2rem;">
      
      <div class="code-col" style="flex: 1;">
        <span class="command-response">Hostname:</span>
        <span class="command-entry"><%= @aact_public_hostname %></span><br>

        <span class="command-response">Port:</span>
        <span class="command-entry">5432</span><br>

        <span class="command-response">Database name:</span>
        <span class="command-entry"><%= @aact_public_database_name %></span>
      </div>

      <div class="code-col" style="flex: 1;">
        <% if user_signed_in? %>
          <span class="command-response">User name:</span>
          <span class="command-entry"><%= current_user.username %></span><br>
        <% else %>
          <span class="command-response">User name:</span>
          <span class="command-note">(sign up/in to get a username)</span><br>
        <% end %>

        <span class="command-response">Password:</span>
        <span class="command-note">'your AACT password'</span>
      </div>

    </div>
  </pre>
</div>
