<div class="modal-body">
  <h1>Edit Study Search</h1>
  <%= render 'form', study_search: @study_search %>
  <div class="modal-body">
    <div class="container-fluid">
      <%= link_to 'Back', study_searches_path, :class => "btn btn-primary btn-sm" %>
    </div>
  </div>  
</div>
