<section class='basicHero'>
  <div class='copy announcement'>

    <div class='wrap'>
      <p>Note: You need to have your ssh public/private keys setup on your local machine to access the server. </p>
      <p>You need to either launch an ssh client tool on your local machine (such as <a target='_blank' href='https://www.putty.org/'>PuTTY</a>), or be at the command prompt. The following is an example session of running the incremental load from the command line. You would do the same to run the full load except to replace './run_incremental_load.sh' with './run_full_load.sh'</p>
    </div>
  </div>
</section>
