<p><b>Administrative Questions</b></p>
<ul>
  <li><b><a target='_blank' href=''>How can I run a full or incremental load?</a></b></li>
  <li><b><a target='_blank' href=''>How can I remove a user?</a></b></li>
  <li><b><a target='_blank' href=''>How can I see who is currently accessing the live database?</a></b></li>
  <li><b><a target='_blank' href=''>How can I see what queries users have been submitting to the live database?</a></b></li>
</ul>
