<p><b>Administrative Questions</b></p>
<ul>
  <li><a target='_blank' href='admin_run_loads'>How can I run a full or incremental load?</a></li>
  <li><a target='_blank' href='admin_remove_user'>How can I remove a user?</a></li>
  <li><a target='_blank' href='admin_add_project'>How can I add project data to the database?</a></li>
</ul>
