<pre>
  <p class='code'>
   <span class='command-prompt'>aact=&gt; </span><span class='command-entry'> select count(*) from studies;</span>
    <span class='command-response'> </span>
    <span class='command-response'>  ERROR:  relation "studies" does not exist</span>
    <span class='command-response'>  LINE 1: select count(*) from studies;</span>
    <span class='command-response'>                                             ^</span>
    <span class='command-response'> </span>
    <span class='command-prompt'>aact=&gt; _</span>
  </p>
</pre>
