<pre>
  <p class='code'>
    <span class='command-prompt'>&gt; </span><span class='command-entry'>ssh ctti-aact@ctti-web-01.oit.duke.edu</span>
    <span class='command-response'>Last login: Thu Aug  2 17:05:05 2018 from 152.16.191.70</span>
    <span class='command-response'>Last login by user ctti-aact: Thu Aug 2 12:09 - 14:24 (02:15) from: 152.16.191.70 </span>
    <span class='command-prompt'>ctti-aact@ctti-web-01  ~ $ </span><span class='command-entry'> grant_db_privs.sh</span>
    <span class='command-prompt'>ctti-aact@ctti-web-01  ~ $ </span><span class='command-entry'> exit</span>
  </p>
</pre>
