<p><b>Technical Questions</b></p>
<ul class='regularDisplay'>
  <li><b><a target='_blank' href=''>How do I access AACT servers & databases?</a></b></li>
  <li><b><a target='_blank' href=''>How do I update AACT when ClinicalTrials.gov changes their API?</a></b></li>
  <li><b><a target='_blank' href=''>How do I deploy code changes to the development and production environments?</a></b></li>
  <li><b><a target='_blank' href=''>How can I setup a 'custom' live database on the server (like aact_20170903)?</a></b></li>
</ul>
