<p><b>User Support Questions</b></p>

<ul>
  <li><b><a target='_blank' href='/support_grant_permission'>User reports they dont have permission to access the live database. (Usually need the AACT DB ip address added to their orgs whitelist.)</a></b></li>
  <li><b><a target='_blank' href='/support_registration_failed'>User reports that their registration failed.</a></b> They received an error message something like: <p style="color:blue;font-size:16px">PG::UndefinedObject: ERROR: role "aUsername" does not exist : alter role "aUsername" IN DATABASE aact set search_path = ctgov;</p></li>
  <li><b><a target='_blank' href='/support_user_cannot_access_db'>Users report they can't access the live db.</a></b></li>
  </ul>

