<p><b>User Support Questions</b></p>

<ul>
  <li><b><a target='_blank' href=''>User reports they dont have permission to access the live database. (Usually need the AACT DB ip address added to their orgs whitelist.)</a></b></li>
  <li><b><a target='_blank' href=''>User registration failed with message: PG::UndefinedObject: ERROR: role "cjpartners" does not exist : alter role "cjpartners" IN DATABASE aact set search_path = ctgov;  (AACT-692)</a></b></li>
  <li><b><a target='_blank' href=''>Users report they can't access the live db.</a></b></li>
  <li><b><a target='_blank' href=''>User reports there is a study in ct.gov but not in AACT (aact-585)  This has usually been because the study (NCT ID) they're looking at in ct.gov is an alias to the preferred study.</a></b></li>
  </ul>


