<h4>Adding a Project to AACT</h4>
<p>Information about research projects that have used the AACT database may be added to the AACT Project Repository. Once added, these projects appear in the table on the <a href='/projects/' target='_blank'>AACT Projects</a> page. A project may include a collection of files (spreadsheets, images, pdfs, Word docs, etc.) that can be made available for users to download. If a project has produced datasets that would be useful for other AACT users to have direct access to in the database, these datasets can be loaded into a project-specific schema in the AACT database. Having datasets in the live AACT database is particularly useful in the case where users would gain insights by joining rows from such datasets to current ClinicalTrials.gov data.</p>
<p>Adding a project is a 2-step process:</p>
<ol class='regularDisplay'>
  <li><a target='_blank' href='faq_proj_gather_info'>Gather & prepare the project files, datasets, and descriptive information.</a> This should be done by someone familiar with project/content of the research.</li>
  <li><a target='_blank' href='faq_proj_change_app'>Use the information gathered to update the aact-proj application.</a> This needs to be done by someone at least minimally familiar with the aact-proj application.</li>

<p></p>
<p>Note: This is version 1.0.0 of aact-proj. There are a number of relatively easy ways to redesign this to minimize the steps required to update the app-proj application and partly eliminating the need for technical support. Hopefully we'll have a chance to get to this.</p>

