<h4>Add Project: Make Necessary Updates to aact-proj Application</h4>
<h6>Add Project Label to app/models/projects.rb</h6>
<p>The new project identifier needs to be added to the array in the method Project.project_list.</p>
<h6>Create a Directory Under app/models for the New Project</h6>
<p>Use ProjAnderson as an example.</p>
<h6>Add project_info.rb to the Projects Model Directory</h6>
<p>This is the one required file for adding a new project. Save all descriptive info about the project to this file. Use ProjAnderson as an example.</p>
<h6>Create a model file for each dataset to be saved to the AACT database. </h6>
<p> ProjAnderson's analyzed_study.rb is a good example.</p>

<li><a target='_blank' href='admin_add_project'>Return to Previous Page</a></li>
