<h4>Add Project: Run Process that Adds Project to the ACT Website & Database</h4>
<p>The command to use to update Project info is:  Project.populate_all</p>
<li><a target='_blank' href='admin_add_project'>Return to Previous Page</a></li>
