<h4>Add Project: Finalize Changes to the aact_proj Application</h4>
<p></p>
<h6>Deploy to Server</h6>

<p>Refer to the <a target='_blank' href='tech_deploy_code'>page</a> that describes the process of deploying code to the server.</p>

<li><a target='_blank' href='admin_add_project'>Return to Previous Page</a></li>

