<h4>Add Project: Prepare to Change aact-proj Application</h4>

<h6>Fork from GitHub</h6>

<p>To make changes to the aact-proj application, create a fork from the <a target='_blank' href='https://github.com/ctti-clinicaltrials/aact-proj'>github repository</a>, clone a copy to your local machine and make changes to this forked copy. When you're done with the change and have tested it, you can submit a pull request to the official version of aact-proj.</p>

<li><a target='_blank' href='admin_add_project'>Return to Previous Page</a></li>
