<h2>How to Update AACT When ClinicalTrials.gov Changes Their API</h2>

<p>When changes are made to the ClinicalTrials.gov API, we need to apply those changes to the AACT database. Almost all the code that parses the XML content we pull from the ClinicalTrials.gov API is done using <a target='_blank' href='http://www.nokogiri.org/'>nokogiri</a> in the models of the <a target='_blank' href='https://github.com/ctti-clinicaltrials/aact'>aact</a> RoR application.</p>

<h3>Setup Working Environment on Your Laptop</h3>
<p>You need to set up a working environment on your local machine that will allow you to make changes to the code, test these changes, push the code back to the GitHub repository and deploy the revised application to the AACT servers. After installing Ruby on Rails and Postgres, you'll need to do the following:</p>

<h4>Set Environment Variables</h4>

  <p>AACT depends on the following set of environment variables which need to be defined for AACT to run correctly.</p>
  <h5>Critical Env Vars</h5>
  <table class='regularDisplay'>
    <tr>
      <th>env var</th>
      <th>default value</th>
      <th>description</th>
    </tr>
    <tr>
      <tr><td>AACT_DB_SUPER_USERNAME</td><td>ctti</td><td>Database user account that has permission to create, drop, update AACT databases.</tr>
      <tr><td>APPLICATION_HOST</td><td>localhost</td><td>Server on which database loads run</td></tr>
      <tr><td>AACT_PUBLIC_HOSTNAME</td><td>localhost</td><td>Server on which the publicly accessible database resides</td></tr>
      <tr><td>AACT_BACK_DATABASE_NAME</td><td>aact_back</td><td>Name of background database used to process loads</td></tr>
      <tr><td>AACT_ADMIN_DATABASE_NAME</td><td>aact_admin</td><td>Name of database used to support the AACT website</td></tr>
      <tr><td>AACT_PUBLIC_DATABASE_NAME</td><td>aact</td><td>Name of database available to the public</td></tr>
      <tr><td>AACT_OWNER_EMAIL</td><td>AACT <aact@ctti-clinicaltrials.org></td><td>Name of email acct from which notifications are sent. (Don't define this if your email service is not setup.)</td></tr>
      <tr><td>AACT_ADMIN_EMAILS</td><td>sheri.tibbs@duke.edu,ctti-aact@duke.edu</td><td>Email addresses that will receive load notifications.</td></tr>
      <tr><td>AACT_ADMIN_USERNAMES</td><td>tibbs001,tibbs002,chisw001,calve002,cttiaact,karenchiswell</td><td>AACT website usernames that have access to restricted pages such as the list of users, tech documentation, etc.</tr>
      <tr><td>SEGMENT_KEY</td><td>nil</td><td>Used by Google Analytics</tr>
    </table>

  <h5>Env Vars Needed by Capistrano to Deploy AACT to Server</h5>
  <table class='regularDisplay'>
    <tr>
      <th>env var</th>
      <th>default value</th>
      <th>description</th>
    </tr>
    <tr><td>AACT_PATH</td><td>/home/ctti-aact/bin/:/srv/web/aact.ctti-clinicaltrials.org/shared/bundle/ruby/2.4.5/bin:/opt/rh/rh-ruby24/root/usr/lib64:$PATH</td><td>Path used by the AACT application.</td></tr>
    <tr><td>RUBY_VERSION</td><td>ruby 2.4.5</td><td>Current version of ruby.</td></tr>
    <tr><td>GEM_HOME</td><td>~/.gem/ruby</td><td>Root directory for gems.</td></tr>
    <tr><td>GEM_PATH</td><td>~/.gem/ruby/gems:/opt/rh/rh-ruby24/root/usr/share/gems:/opt/rh/rh-ruby24/root/usr/local/share/gems:/opt/rh/rh-ruby24/root/usr/lib64</td><td>Where to find gems.</td></tr>

    <tr><td>AACT_SERVER_USERNAME</td><td>ctti-aact</td><td>Name of the user login on the servers.</td></tr>
    <tr><td>AACT_DEPLOY_TO</td><td>/home/ctti-aact/apps/aact/</td><td>Directory location on server (both dev & prod) where AACT code is deployed.</td></tr>
    <tr><td>AACT_ADMIN_DEV_DEPLOY_TO</td><td>/srv/web/aact-dev.oit.duke.edu</td><td>Directory location on dev server where AACT-Admin code is deployed.</td></tr>
    <tr><td>AACT_ADMIN_PROD_DEPLOY_TO</td><td>/srv/web/aact.ctti-clinicaltrials.org</td><td>Directory location on prod server where AACT-Admin code is deployed.</td></tr>
    <tr><td>AACT_SSH_KEY_DIR</td><td>(Leaving blank for security reasons.)</td><td>Directory on the server where the ssh keys are located.</tr>
    <tr><td>AACT_DEV_SERVER</td><td>ctti-web-dev-01.oit.duke.edu</td><td>Name of development server to which we deploy code.</td></tr>
    <tr><td>AACT_PROD_SERVER</td><td>ctti-web-01.oit.duke.edu</td><td>Name of production server to which we deploy code.</tr>
    <tr><td>AACT_DEV_REPO_URL</td><td>git@github.com:tibbs001/aact-1.git</td></tr>
    <tr><td>AACT_ADMIN_DEV_REPO_URL</td><td>git@github.com:tibbs001/aact-admin-1.git</td></tr>
    <tr><td>AACT_ADMIN_PROD_REPO_URL</td><td>git@github.com:ctti-clinicaltrials/aact-admin.git</td></tr>
    <tr>
  </table>

  <h5>Less Critical Env Vars</h5>
  <table class='regularDisplay'>
    <tr>
      <th>env var</th>
      <th>default value</th>
      <th>description</th>
    </tr>
    <tr><td>AACT_VIEW_PASSWORD</td><td></td><td>Password needed to edit use cases</td></tr>
    <tr><td>AACT_DB_VERSION</td><td></td><td>Current version of postgres database. To display on website.</td></tr>
    <tr><td>AACT_PUBLIC_IP_ADDRESS</td><td></td><td>IP Address of the public server. To display on website.</td></tr>
    <tr><td>AACT_PROCESS_SERVER</td><td></td><td>Name of server upon which AACT data processing occurs. To display on website.</td></tr>
    <tr><td>RACK_TIMEOUT</td><td>10</td><td>Used to abort requests that are taking too long; an exception is raised.</td></tr>
  </table>

<h4>Fork from GitHub</h4>

<p>To make changes to the aact application, create a fork from the <a target='_blank' href='https://github.com/ctti-clinicaltrials/aact'>github repository</a>, clone a copy to your local machine and make changes to this forked copy. When you're done with the change and have tested it, you can submit a pull request to the official version of aact.</p>

<h4>Make Changes</h4>

<p>Most models are related to the Study model and are subclassed off StudyRelationship which contains a number of convenience methods for getting data elements from the XML.  If new data elements have been added, we first need to decide where to add new tables and/or columns and then create a migration to update the database schema. We then add a new model and a relationship in Study if the addition requires a whole new table.  Then we add or change nokogiri code in the model to add new attribute(s) or change/remove existing ones.</p>

<h4>Write Spec Tests</h4>

<p>We depend on spec model tests. When something changes in the ClinicalTrials.gov API, we go out and find a study in ClinicalTrials.gov that represents that change, add it to our collection of sample studies in spec/support/xml_data and then write a test that uses that study to confirm the new/changed data element appears as expected in the database.</p>

<h4>Update Schema Diagram(s)</h4>

<p>To update the schema diagram, you can use the <a target='_blank' href='https://github.com/tibbs001/aact-schema'>aact-schema</a> RoR application. (We probably should create an official copy of this app in the ctti-clinicaltrials github account.) In a new branch of aact-schema, make appropriate changes to files in db/migrate. Then run the shell script 'doit' (saved at the root directory of aact-schema). This just creates a database named <i>aact_schema</i> on the development DigitalOcean server which is for the most part, an identical copy of the actual aact database except that it explicitly defines foreign key relationships. You can then point <a target='_blank' href='https://pgmodeler.io/'>pgModeler</a> to the aact_schema database on the dev server to create an updated schema diagram.  Once the diagram is created/formatted, it needs to be copied to /aact-files/documentation/aact_schema.png on the OIT Data Processing Server so that the AACT website can and render it on the database schema page.</p>

<h4>Deploy to Server</h4>

<p>Refer to the <a target='_blank' href='tech_deploy_code'>page</a> that describes the process of deploying code to the server.</p>

