@import "variables";
@import "library";
@import "grid";
@import "buttons";
@import "forms";

* {
  @include border-box;
}
.pagination>li.active>a {
  background-color: $tertiary !important;
  border-color: $tertiary !important;
}

.shadowContainer {
    margin-top: 50px;
    box-shadow: 0 0 30px black;
}

.fixed-table-toolbar { display: none; }  // disable bootstrap toolbar for now.
.command-prompt { color: #aeaeae; font-size: .9rem;}
.command-entry { color: #f8f8f8; font-size: .9rem;}
.command-response { color: #adc6ee; font-size: .9rem;}
.command-note { color: #F0B5BF; font-weight: lighter; font-size: .9rem;}

.standardLayout {
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 40px;
h1 { font-weight: 500; }
h3 { font-weight: 450; }

}

table.regularDisplay {
  box-shadow: 6px 6px 5px #888888;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;

  th {
    font-weight: normal;
    background-color: $tertiary;
    color: white;
  }

  td {
    padding: 6px 4px 6px 4px;
    font-size: 1.2rem;
  }

  td.tableName {
    font-weight: bold;
  }

  td.numberType {
    text-align: right;
  }
}

#errorExplanation {
  color: red;
}

.floatLeft {
   float: left;
}
.floatRight {
   float: right;
}

// html {
    // height: 100%;
    // padding-left: 100px;
    // padding-right: 100px;
// }

.footer {
  padding-left: 0 !important;
  width: 100% !important;
}

table.regularDisplay, ul.regularDisplay, ol.regularDisplay {
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5;
    margin: 0 0 1rem;
}

table.gridDisplay, th.gridDisplay, tr.gridDisplay, td.gridDisplay {
  border-style: solid;
  border-color: $primary;
}

table.notice-header > tr, th, td {
  border-style: none !important;
}

.notice-header th {
  text-align: right;
  font-size: 1rem;
  color: dimgrey;
  padding-right: 20px;
}
.notice-header td {
  font-size: 1rem;
  color: dimgrey;
}

.notice-delete {
  border-radius: 20px;
  background-color: #cf2b1f;
}

ul.noBullets {
  list-style-type: none;
}

ul.indent {
    margin: 20px 60px 20px;
}

body {
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  background: transparent !important;
  // font-size: 0px !important;
  min-height: 100%  !important;
  font-family: $font-sans !important;
  color: $text-color  !important;
  // background-attachment: fixed;
  @include bg-size(30px 20px);
  position: relative !important;
}

.flashes{
  font-size: 18px;
  font-family: $font-sans ;
  color: green;
  margin: 1rem;
  position: relative;
  text-align: center;
}

.flash-alert {
  color: red !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-bottom: 1rem;
  padding-top: .5rem;
  font-family: $font-sans;
}

p {
  margin: 0px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-sans-secondary;
}

b {
  margin: 0px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
  font-family: $font-sans-secondary;
}

a {
  text-decoration: underline;
  font-size: 1.2rem;
  color: $link-color;
  font-weight: bold;
  font-family: $font-sans;

  &:hover {
    color: $link-color;
    color: #246bb0;
  }
}

img {
  max-width: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: $bg-grey;
}


h1 {
  font-size: 3rem;
  color: $tertiary;

  @include MQ(S) {
    font-size: 2.2rem;
  }
}

h2 {
  color: $secondary;
  font-size: 2rem;

  @include MQ(S) {
    font-size: 2rem;
  }
}

h3 {  font-size: 1.6rem;  }

h4 {  font-size: 1.4rem;  }

h5 {  font-size: 1.2rem;  }

h6 {  font-size: 1rem;  }

// ul, ol {
//   padding: 0px;
//   margin-bottom: 1rem;
//   font-family: $font-sans;
//   padding: 1rem 2rem;

//   li {
//     font-size: 1.2rem;
//     margin-bottom: .5rem;
//   }
// }

pre {
  background-color: rgb(29, 31, 33);
  padding: 20px;
  border-radius: $border-radius;
  margin: 20px 0px;

  code {
    font-size: 1rem;
    max-width: 100%;
    padding-top: 10px;
    display: block;
    color: rgb(248, 248, 248);

    &.output {
      padding: 0px;
      padding-left: 20px;
      color: rgb(173, 198, 238);

    }
    &:first-of-type {
      padding-top: 0px;
    }

  }
}

%container {
  margin: 0 auto;
  max-width: $wrap_width;
  //padding-left:  40px;
  padding-right:  40px;
  z-index:0;
  position: relative;
}


a.card {
  background-color: rgb(249,249,249);
  color: $grey;
  padding: 2rem;
  @include box-shadow(3px 3px 11px $light-grey);
  @include columnify(6);
  display: inline-block;
  margin-bottom: 2rem;
  vertical-align: top;


  &:nth-of-type(2n) {
    margin-right: 0px;

  }

h4 {
    color: $secondary;
    text-align: center;
    margin-bottom: 1rem;
  }
}

td, th {
  padding:10px;
  border:solid 1px #eee;
  font-size: 1.2rem;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px;
  font-size: 12px;
}

div.step {
  @include display-flex;
  padding-top: 2rem;
  margin-bottom: 1rem;
  position: relative;

  span.stepNumber {
    background-color: $tertiary;
    color: $white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    border-radius: 50%;
    margin-right: .5rem;
    font-family: $font-sans;
  }
  h3.stepName {
    padding-top: .25rem;
  }
}
