@import "../base/variables";
@import "../base/library";

.userOptions {
  font-size: 1.8rem;
  font-weight: normal;
  color: $tertiary;
}

#userTable {
  font-size: 1.2rem;
  width: 100%;
  align: center;
}

tr.even td {
  background-color: $white;
}

tr.odd td {
  background-color: rgb(240,240,240);
  border: none;
}
