<div class="container">
  <h1>Notice</h1>
  <hr/>
  <h3><%= @notice.title %></h3>
  
  <p><%= @notice.body %></p>
  <%= link_to 'Back', admin_notices_path, :class => "btn btn-primary btn-sm" %>
</div>