@import "../base/variables";
@import "../base/library";

#pointsToConsider {
  width: 100%;
  font-size: 1.2rem;
  box-shadow: 10px 10px 5px #888888;
  padding: 2;
}

p.ptc {
  font-size: 1.2rem;
}

p.ptcFootNote {
  font-size: 1.0rem;
  margin-left: 2rem;
}

a.ptcFootNote {
  font-size: 1.0rem;
}

tr.even td {
  background-color: $white;
  border:  none;
  padding: 8px;
  vertical-align: top;
}

tr.odd td {
  background-color: rgb(240,240,240);
  border:  none;
  padding: 8px;
  vertical-align: top;
}

