<div class="container">
  <div class="pb-5">
  <div class="pb-4"></div>
  <ul class="query-menu">
    <li class="query-menu-item"><a href="/playground">Playground</a></li>
    <li class="query-menu-item"><a href="/history">History</a></li>
    <li class="query-menu-item"><a href="/my/queries">My Queries</a></li>
    <li class="query-menu-item"><a href="/queries">Community Queries</a></li>
    <li class="query-menu-item"><a href="/admin/history">Admin History</a></li>
  </ul>
  
  <ul class="query-menu-right">
    <li class="query-menu-right-item"><a href="/contactus">Feedback</a></li>
    <li class="query-menu-right-item"><a href="/saved_query_doc">Help</a></li>
  </ul>
</div>

<%= javascript_include_tag 'query_menu', 'data-turbolinks-track': 'reload' %>
